.cia_interval_wrapper .fieldset-wrapper .form-item {
  float: left;
  margin-right: 20px;
}

.cia_interval_wrapper .fieldset-wrapper .form-item .main-interval-interval {
  width: 20px;
  text-align: right;
}

.cia_interval_wrapper .fieldset-wrapper .interval-minute-snap {
  clear: both;
}

.cia_interval_wrapper .fieldset-wrapper .form-item .field-suffix {
  display: block;
}

.cia_interval_wrapper .fieldset-wrapper .actions {
  position: absolute;
  top: 5px;
  right: 15px;
}

.cia_delete_form .item-list {
  margin: 20px 0 20px 0;
}
